<!--
    Templates are used. They're downloaded from 
    "https://templatemo.com/tm-521-get-ready" and 
    "https://templatemo.com/tm-525-the-town"  
-->
<!DOCTYPE html>
<html lang="en">
<head>

     <title>login page of CU Par</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="http://localhost:8081/css/bootstrap.min.css">
     <link rel="stylesheet" href="http://localhost:8081/css/vegas.min.css">
     <link rel="stylesheet" href="http://localhost:8081/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="http://localhost:8081/css/templatemo-style.css">

</head>
<body>

     <!-- PRE LOADER -->
     <!--
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>
    -->

    <!--Grid Line-->
    <!-- 
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>
    -->

    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1 style="text-align:center;font-size: 40px">About us</h1>
            <p style="color: white;text-align: center;font-size: 18px">We are CU Par!</p>
            <p style="color: white;text-align: center;font-size: 18px ">Join us and find your partners here!</p>
           </div>
         </div>
       </div>
    </div>


     <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1>Welcome to CU Par! <br>Come and find your new partners here!</h1>
                              <h1></h1>
                              
                              <div class="subscribe-form">
                                <form method="POST" action="http://localhost:8081/login/reset/pwd">
                                  
                                  {{#if this.info}}
                                <div class="my-notify-info">{{this.info}}</div>
                                {{else if this.message}}
                                <div class="my-notify-success">{{this.message}}</div>
                                {{else if this.warning}}
                                <div class="my-notify-warning">{{this.warning}}</div>
                                {{else}}
                                <div class="my-notify-error">{{error}}</div>
                                {{/if}}
                                        <br>
                                  <input type="password" name="password" class="form-control" placeholder="Enter your password" required="" id="password">
                                  <br>
                                  <input type="password" name="passwordRP" class="form-control" placeholder="Confirm your password" required="" id="passwordRP">
                                  <br>
                                  
                                        <input type="submit" value="submit" class="form-control" id="bt" />
                                  </div>
                                </form>
                                <br>
                                <p style="color:white">Go back to <a href="/signup">sign-up</a> to active your account</p>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="http://localhost:8081/js/jquery.js"></script>
     <script src="http://localhost:8081/js/bootstrap.min.js"></script>
     <script src="http://localhost:8081/js/vegas.min.js"></script>
     <script src="http://localhost:8081/js/countdown.js"></script>
     <script src="http://localhost:8081/js/init.js"></script>
     <script src="http://localhost:8081/js/custom.js"></script>

</body>
</html>