<% include common/header.ejs %>
  <p><a href="/forum" class="btn btn-primary">
    Back to Forum Homepage
</a> &nbsp;&nbsp;&nbsp;<a href="/" class="btn btn-primary">
  Back to CUpar Homepage
</a></p>
  <div class="panel panel-default">
      <div class="panel-heading">
          <div class="text-muted pull-right">
              <%= data[0].createtime %>
          </div>
          Post: "<%=data[0].title %>"
        </div>
       <div class="panel-body">
          <%= data[0].content %>
       </div>
   </div>
  <div class="panel-group">
        <% for(var i=0; i<data[1].length; i++) {%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="text-muted pull-right">
                  <%= data[1][i].createtime %>
              </div>
              Comment [<%= i+1 %>]
            </div>
            <div class="panel-body">
              <%= data[1][i].content %>
            </div>
          </div>
          <div class = "count" data-commentid = "<%=data[1].length%>"></div>
        <% } %>
  </div>
 
    <form role="form">
        <div class="form-group">
            <label for="comment">Add Comment</label>
            <textarea class="form-control" id="body" name="body" placeholder="I believe you will reply politely:)" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <input id = "comment" type="button" value="Comment!" class="submit" data-postid="<%=data[0].id %>">
        </div>
    </form>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        var commentid=$('.count').data('commentid');
        var clicked = false;
        $('#comment').on('click', function(){
            if(clicked) return;
            clicked = true;

        var comment = $('#body').val();
        if(!comment){
          alert("Input can not be empty!");
          return;
        }

        var postid = $(this).data('postid');
        //var commentid =0 ;
        if(isNaN(commentid))
            commentid = 0;
        // else
        //     commentid=$('.count').data('commentid');
        commentid++;

        $.ajax({
          url : '/post/newreply',
          data : {postid:postid, content:comment},
          dataType : 'json',
          type : 'get'
        }).done(function(result){
          if(result.code===0){
            var newcomment = '<div class="panel panel-default"><div class="panel-heading"><div class="text-muted pull-right">'+result.data.createtime +'</div>Comment ['+commentid+']</div><div class="panel-body">'+comment+'</div></div>';
            //alert(newcomment);
            $('.panel-group').append(newcomment);
            $('#body').val('');
          }else{
            alert('Operation failed');
          }
          clicked = false;
        })
      })
    </script>
<% include common/footer.ejs %>